$modal-close-button-color:white;

@import "../main.scss";

.repository-panel {
	width: 25%;
	background-color: cadetblue;
	padding: 1em;
	margin: 0.5em;

	.repository-details {
		color: white;
		padding: 1em;
		margin: 0.5em;

		.commit-panel {
			padding: 1em;
			margin: 0.5em;
			border: solid 1px white;
		}
	}

}